<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company name</title>
    <base href="/">
    <link rel="shortcut icon" type="image/png" href="images/favico.png"/>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/animate.min.css" rel="stylesheet">
    <link href="stylesheets/jquery.fancybox.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">  
</head>
<body id="page-top" class="index">
    <div class="mobile-indicator"></div>
    <header class="site-header">
        <div class="container">
            <div class="site-header-content">
                <div class="main-container">
                    <div class="clearfix">
                        <div class="logo">
                            <h1>
                                <a class="page-scroll" href="#page-top">
                                   <img src="images/logo.png" alt="Company name">
                                </a>
                            </h1>
                        </div>
                        <div class="site-navigation">
                            <nav class="navbar navbar-default navbar-fixed-top">
                                <div class="navbar-header page-scroll">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a class="page-scroll" href="#page-top">
                                               Home
                                            </a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="#aboutUs">
                                                About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="#activities">
                                                Activities
                                            </a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="#mechanization">
                                                Mechanization
                                            </a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="#completedProjects">
                                                Projects
                                            </a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="#contacts">
                                                Contacts
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <section class="home-container">
        <div class="carousel-title">
            <div class="container">
                <div class="main-container">
                    <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
                    <h2>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</h2>
                </div>
            </div>
        </div>
        <div class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url(images/slider/1.png);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url(images/slider/2.png);"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUs" class="main-content about-us-container">
        <div class="container">
            <div class="main-container">
                <div class="clearfix">
                    <article class="about-us-col about-us-col-img wow fadeInLeft clearfix">
                        <div>
                            <img src="images/about-us-img.png">
                            <div></div>
                        </div>  
                    </article>
                    <article class="about-us-col about-us-col-text wow fadeInRight">
                        <div>
                            <header>
                                <h3>About us</h3>
                                <h4>Lorem Ipsum</h4>
                            </header>
                            <section>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...</p>
                            </section>
                            <footer>
                                <a class="btn-basic btn">Read more</a>
                            </footer>  
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="activities-mechanization">
        <section id="activities" class="main-content activities-container">
            <div>
                <div class="container">
                    <div class="main-container">
                        <article class="activities-col wow fadeInRight">
                            <header>
                                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
                                <h4>Lorem Ipsum has been the industry's standard dummy text ever since the...</h4>
                            </header>
                            <section>
                                <div class="clearfix">
                                    <div>
                                        <div class="activities-img">
                                            <img src="images/activities-1-img.png">
                                        </div>
                                        <div class="activities-text">
                                            <h6>First group</h6>
                                            <p>First group description</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="activities-img">
                                            <img src="images/activities-2-img.png">
                                        </div>
                                        <div class="activities-text">
                                            <h6>Second group</h6>
                                            <p>Second group description</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div>
                                        <div class="activities-img">
                                            <img src="images/activities-4-img.png">
                                        </div>
                                        <div class="activities-text">
                                            <h6>Fourth group</h6>
                                            <p>Fourth group description</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="activities-img">
                                            <img src="images/activities-5-img.png">
                                        </div>
                                        <div class="activities-text">
                                            <h6>Fifth group</h6>
                                            <p>Fifth group description</p>
                                        </div>
                                    </div>
                                </div>
                            </section>  
                        </article>
                    </div>
                </div>
            </div>
        </section> 
        <section id="mechanization" class="main-content mechanization-container">
            <div>
                <div class="container">
                    <div class="main-container">
                        <article class="mechanization-col wow fadeInLeft">
                            <header>
                                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
                                <h4>Lorem Ipsum has been the industry's standard dummy text ever since the...</h4>
                            </header>
                            <section class="clearfix">
                                <div>
                                    <a href="javascript:void(0)" class="btn-basic btn mechanization-link">
                                        <span>Mechanization list [+]</span>
                                        <div class="mechanization-link-content">
                                            <p>Mechanization list [–]</p>
                                            <ul>
                                                <li>1. Mechanization 1</li>
                                                <li>2. Mechanization 2</li>
                                                <li>3. Mechanization 3</li>
                                                <li>4. Mechanization 4</li>
                                                <li>5. Mechanization 5</li>
                                                <li>6. Mechanization 6</li>
                                                <li>7. Mechanization 7</li>
                                                <li>8. Mechanization 8</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)" class="btn-basic btn mechanization-link">
                                        <span>Equipment [+]</span>
                                        <div class="mechanization-link-content">
                                            <p>Equipment list [–]</p>
                                            <ul>
                                                <li>1. Equipment 1</li>
                                                <li>2. Equipment 2</li>
                                                <li>3. Equipment 3</li>
                                                <li>4. Equipment 4</li>
                                                <li>5. Equipment 5</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </section>  
                            <img src="images/mechanization.png">
                        </article>
                    </div>
                </div>
            </div>
        </section> 
    </div>
    <section id="completedProjects" class="main-content completed-projects-container">
        <div class="container">
            <div class="main-container">
                <article class="completed-projects-col wow fadeInRight">
                    <header>
                        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
                        <h4>Lorem Ipsum has been the industry's standard dummy text ever since the...</h4>
                    </header>
                    <section>
                        <ul>
                            <li>Project 1 name</li>
                            <li>Project 2 name</li>
                            <li>Project 3 name</li>
                            <li>Project 4 name</li>
                            <li>Project 5 name</li>
                            <li>Project 6 name</li>
                        </ul>
                    </section>  
                    <img src="images/tablet.png">
                </article>
            </div>
        </div>
    </section>
    <section id="contacts" class="main-content contacts-container">
        <div class="container">
            <div class="main-container">
                <article class="contacts-col wow fadeInRight">
                    <header>
                        <h5>Contacts</h5>
                        <hr/>
                    </header>
                    <section>
                        <div class="contacts-text clearfix">
                            <div class="contacts-tex-col contacts-tex-col-1">
                                <ul>
                                    <li>Address</li>
                                    <li>Lorem Ipsum</li>
                                </ul>
                            </div>
                            <div class="contacts-tex-col contacts-tex-col-2">
                                <ul>
                                    <li>e-mail: example@companyName.com</li>
                                    <li>тел.: +000 45 15 451</li>
                                </ul>
                            </div>
                        </div>
                        <div class="contacts-form">
                            <div id="msg" class="contacts-msg"></div>
                            <form name="contactsForm">
                                <fieldset>
                                    <div class="clearfix group-input-row">   
                                        <div class="group-input">
                                            <input type="text" name="contactsName" placeholder='Name*' class="form-control">
                                        </div>
                                        <div class="group-input">
                                            <input type="text" name="contactsEmail" placeholder='E-mail*' class="form-control">
                                        </div>
                                    </div>
                                    <div class="group-input">
                                        <textarea name="contactsMessage" placeholder='Message*' class="form-control"></textarea>
                                    </div>
                                </fieldset>
                            </form> 
                            <div class="contacts-form-btn">
                                <button class="btn-basic btn btn-send">Send</button>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <footer class="site-footer-container">
            <div class="container">
                <div class="main-container">
                    <div class="site-footer-col clearfix">
                        <p>Copyright © 2016</p>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/wow.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.fancybox.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>
